body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 100px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e1e6e1;
    background: #4141ec;
    border-radius: 10px;
}