body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
form{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;

}